*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Readex Pro', sans-serif;
}

h1{
    text-align: center;
    font-size: 6em;
}

nav{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    
}

ul, li{
    display: inline;
}


ul{
    display: flex;
    flex: 1;
    max-width: 50%;
    justify-content: space-evenly;
}


@media (max-width: 768px){
    h1{
        font-size: 3em;
    }

    nav, nav ul{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 580px){
    h1{
        font-size: 2em;
    }
}